h3{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF9999;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#player-1,#player-2{
    border:1px solid black;
    
}

